<br>
<div class="container mx-auto text-center">
  <h1>Media</h1>
</div>
<br>
<div class="mx-auto text-center">
  <button class="btn btn-dark" (click)="openModal(addMediaTemplate)">Add Media</button>
</div>
<br>
<div class="col">
  <div class="row justify-content-center">
    <div class="input-group col-8" id="searchContainer">
      <input class="form-control search-bar" type="text"
             placeholder="Search for media by name, director, release year or actors" id="textSearch"
             name="dataSearch" [(ngModel)]="searchPhrase">
      <button type="button" class="btn btn-dark" aria-label="Search" (click)="filterMedia()">
        <i class="fas fa-search fa-lg"></i>
      </button>
    </div>
  </div>
</div>
<br>
<div>
  <br>
  <div class="container-fluid text-center table-outer">
    <div class="row row-chart row-header m-1 p-2">
      <div class="col"><b>Title</b></div>
      <div class="col"><b>Director</b></div>
      <div class="col"><b>Publisher</b></div>
      <div class="col"><b>Actors</b></div>
      <div class="col"><b>Media Format</b></div>
      <div class="col"><b>Release Year</b></div>
      <div class="col"><b>Media Type</b></div>
      <div class="col"><b>Non-Fiction</b></div>
      <div class="col"><b>No. Episodes</b></div>
      <div class="col"><b>Duration (mins)</b></div>
      <div class="col"><b>Language</b></div>
      <div class="col"><b>Location</b></div>
      <div class="col"><b>Delete</b></div>
    </div>
    <div *ngIf="media && media.length < 1 && loadedMedia">
      <fam-app-loading-table></fam-app-loading-table>
    </div>
    <div *ngFor="let medium of filteredMedia">
      <fam-app-medium-detail [medium]="medium"></fam-app-medium-detail>
    </div>
  </div>
</div>

<ng-template #addMediaTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Media</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="newMediaForm">
      <div class="form-horizontal">
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Director </label>
          </div>
          <div class="col">
            <input type="text" formControlName="director" id="director" class="form-control" name="director">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Title </label>
          </div>
          <div class="col">
            <input type="text" formControlName="title" id="title" class="form-control" name="title" required>
            <div *ngIf="newMediaForm.controls['title'].touched && newMediaForm.controls['title'].invalid" class="alert alert-danger">
              A title is required
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Publisher </label>
          </div>
          <div class="col">
            <input type="text" formControlName="publisher" id="publisher" class="form-control" name="publisher">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Actors ( ; separated) </label>
          </div>
          <div class="col">
            <input type="text" formControlName="actors" id="actors" class="form-control" name="actors">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Format </label>
          </div>
          <div class="col">
            <input type="text" formControlName="format" id="format" class="form-control" name="format">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Release Year </label>
          </div>
          <div class="col">
            <input type="text" formControlName="release_year" id="release_year" class="form-control" name="release_year">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Series / Film </label>
          </div>
          <div class="col">
            <select formControlName="series_or_film" id="series_or_film" class="form-control" name="series_or_film">
              <option>Film</option>
              <option>Series</option>
            </select>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Fiction </label>
          </div>
          <div class="col">
            <select formControlName="fiction" id="fiction" class="form-control" name="fiction">
              <option>Fiction</option>
              <option>Non-Fiction</option>
            </select>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Episodes </label>
          </div>
          <div class="col">
            <input type="text" formControlName="episodes" id="episodes" class="form-control" name="episodes">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Duration (mins) </label>
          </div>
          <div class="col">
            <input type="text" formControlName="duration_in_minutes" id="duration_in_minutes" class="form-control" name="duration_in_minutes">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Language </label>
          </div>
          <div class="col">
            <input type="text" formControlName="language" id="language" class="form-control" name="language">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Location </label>
          </div>
          <div class="col">
            <select formControlName="location" id="location" class="form-control" name="location">
              <option>Attic</option>
              <option>Living Room</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="row mx-auto justify-content-center">
              <button class="btn btn-outline-success" style="width: 80%;"
                      [disabled]="!newMediaForm.valid"
                      (click)="onMediaFormSubmit()">Save</button>
            </div>
            <div class="row mx-auto pt-2 justify-content-center">
              <button class="btn btn-outline-danger" (click)="modalRef.hide();" style="width: 80%;">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
