<div class="container mx-auto text-center">
  <div class="row">
    <div class="col">
      <h1>{{photo.name}}</h1>
    </div>
    <div class="col-1">
      <button type="button" class="btn" aria-label="Edit" (click)="editPhoto()">
        <i class="fas fa-edit fa-pull-right" title="Edit"></i>
      </button>
    </div>
  </div>
  <div class="row pl-2">
    <h4 *ngIf="photo.description" class="sub-text">{{photo.description}}</h4>
  </div>
  <div class="row pl-2">
    <h4 *ngIf="photo.taken_by" class="sub-text">Taken by {{photo.taken_by}} on {{photo.taken_date | date: 'd MMM YYYY'}}</h4>
    <h4 *ngIf="!photo.taken_by" class="sub-text">Taken on {{photo.taken_date | date: 'd MMM YYYY'}}</h4>
  </div>
  <div class="row pl-2">
    <h4 *ngIf="photo.camera_details" class="sub-text">Camera Details: {{photo.camera_details}}</h4>
  </div>
</div>
<br>
<img [src]="photo.blob_url" alt="{{photo.name}}" width="100%">
