<br>
<div class="container mx-auto text-center">
  <h1>Family Tree</h1>
</div>
<br>

<div class="row">
  <div class="col mx-auto text-center">
    <button class="btn btn-dark" (click)="openModal(addPersonTemplate)">Add Person</button>
  </div>
  <div class="col mx-auto text-center">
    <button class="btn btn-dark" (click)="openModal(addRelationshipTemplate)">Add Relationship</button>
  </div>
  <div class="col mx-auto text-center">
    <button class="btn btn-dark" (click)="openModal(addDataSourceTemplate)">Add Data Source</button>
  </div>
</div>
<br>
<mat-grid-list
  cols="5"
  rowHeight="4:3"
  gutterSize="100px"
>
  <mat-grid-tile *ngFor="let person of people">
    <mat-grid-tile-header>
      <div class="col">
        {{person.first_name + ' ' + person.surname}}
      </div>
      <div class="col-1">
        <button class="btn" (click)="openModal(addPersonTemplate)"><i class="fas fa-edit fa-sm fa-inverse"></i></button>
      </div>
    </mat-grid-tile-header>
    {{person.narrative}}
    <mat-grid-tile-footer>
      {{person.date_of_birth? (person.date_of_birth | date : 'd MMM yyyy') : ''}}
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
<div class="family-tree-image"></div>

<ng-template #addPersonTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Person</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="personForm">
      <div class="form-horizontal">
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">First Name </label>
          </div>
          <div class="col">
            <input type="text" formControlName="first_name" id="first_name" class="form-control" name="first_name" required>
            <div *ngIf="personForm.controls['first_name'].touched && personForm.controls['first_name'].invalid" class="alert alert-danger">
              A first name is required
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Middle Names </label>
          </div>
          <div class="col">
            <input type="text" formControlName="middle_names" id="middle_names" class="form-control" name="middle_names">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Surname </label>
          </div>
          <div class="col">
            <input type="text" formControlName="surname" id="surname" class="form-control" name="surname" required>
            <div *ngIf="personForm.controls['surname'].touched && personForm.controls['surname'].invalid" class="alert alert-danger">
              A surname is required
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Chosen Name </label>
          </div>
          <div class="col">
            <input type="text" formControlName="chosen_name" id="chosen_name" class="form-control" name="chosen_name">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Title </label>
          </div>
          <div class="col">
            <input type="text" formControlName="title" id="title" class="form-control" name="title">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Birthplace </label>
          </div>
          <div class="col">
            <input type="text" formControlName="birthplace" id="birthplace" class="form-control" name="birthplace">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Sex </label>
          </div>
          <div class="col">
            <select formControlName="sex" id="sex" class="form-control" name="sex">
              <option>Unknown</option>
              <option>XY</option>
              <option>XX</option>
            </select>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Date of Birth </label>
          </div>
          <div class="col">
            <input
              type="text"
              placeholder="Select date of birth"
              class="form-control"
              bsDatepicker
              formControlName="date_of_birth"
              [bsConfig]="{
              rangeInputFormat: 'YYYY-MM-DD',
              dateInputFormat: 'DD MMM YYYY'
            }"
            />
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Date of Death </label>
          </div>
          <div class="col">
            <input
              type="text"
              placeholder="Select date of death"
              class="form-control"
              bsDatepicker
              formControlName="date_of_death"
              [bsConfig]="{
              rangeInputFormat: 'YYYY-MM-DD',
              dateInputFormat: 'DD MMM YYYY'
            }"
            />
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Previous Surname </label>
          </div>
          <div class="col">
            <input type="text" formControlName="previous_surnames" id="previous_surnames" class="form-control" name="previous_surnames">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Narrative </label>
          </div>
          <div class="col">
            <textarea matInput
                      formControlName="narrative"
                      cdkTextareaAutosize
                      matAutosizeMinRows=1
                      matAutosizeMaxRows=5
            ></textarea>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="row mx-auto justify-content-center">
              <button class="btn btn-outline-success" style="width: 80%;"
                      [disabled]="!personForm.valid"
                      (click)="onPersonFormSubmit()">Save</button>
            </div>
            <div class="row mx-auto pt-2 justify-content-center">
              <button class="btn btn-outline-danger" (click)="modalRef.hide();" style="width: 80%;">Cancel</button>
            </div>
          </div>
      </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #addRelationshipTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Relationship</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newRelationshipForm">
      <div class="form-horizontal">
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">First Person </label>
          </div>
          <div class="col">
            <select formControlName="person_one" id="person_one" class="form-control" name="person_one">
              <option *ngFor="let person of people">{{person.first_name + ' ' + person.surname + (person.date_of_birth | date: ' (dd MMM Y)') || ''}}</option>
            </select>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Second Person </label>
          </div>
          <div class="col">
            <select formControlName="person_two" id="person_two" class="form-control" name="person_two">
              <option *ngFor="let person of people">{{person.first_name + ' ' + person.surname + (person.date_of_birth | date: ' (dd MMM Y)') || ''}}</option>
            </select>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Type </label>
          </div>
          <div class="col">
            <select formControlName="relationship_type" id="relationship_type" class="form-control" name="relationship_type">
              <option>Child</option>
              <option>Civil Partnership</option>
              <option>Married</option>
              <option>Divorced</option>
            </select>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Start Date </label>
          </div>
          <div class="col">
            <input
              type="text"
              placeholder="Select relationship start date"
              class="form-control"
              bsDatepicker
              formControlName="start_time"
              [bsConfig]="{
              rangeInputFormat: 'YYYY-MM-DD',
              dateInputFormat: 'DD MMM YYYY'
            }"
            />
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">End Date </label>
          </div>
          <div class="col">
            <input
              type="text"
              placeholder="Select relationship end date"
              class="form-control"
              bsDatepicker
              formControlName="end_time"
              [bsConfig]="{
              rangeInputFormat: 'YYYY-MM-DD',
              dateInputFormat: 'DD MMM YYYY'
            }"
            />
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Narrative </label>
          </div>
          <div class="col">
            <input type="text" formControlName="narrative" id="narrative" class="form-control" name="narrative">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="row mx-auto justify-content-center">
              <button class="btn btn-outline-success" style="width: 80%;"
                      [disabled]="!personForm.valid"
                      (click)="onRelationshipFormSubmit()">Save</button>
            </div>
            <div class="row mx-auto pt-2 justify-content-center">
              <button class="btn btn-outline-danger" (click)="modalRef.hide();" style="width: 80%;">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #addDataSourceTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Data Source</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newDataSourceForm">
      <div class="form-horizontal">
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Name </label>
          </div>
          <div class="col">
            <input type="text" formControlName="name" id="name" class="form-control" name="name" required>
            <div *ngIf="newDataSourceForm.controls['name'].touched && newDataSourceForm.controls['name'].invalid" class="alert alert-danger">
              A name is required
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Description </label>
          </div>
          <div class="col">
            <input type="text" formControlName="description" id="description" class="form-control" name="description">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">URL </label>
          </div>
          <div class="col">
            <input type="text" formControlName="url" id="url" class="form-control" name="url">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Source Date </label>
          </div>
          <div class="col">
            <input
              type="text"
              placeholder="Select data source creation date"
              class="form-control"
              bsDatepicker
              formControlName="source_date"
              [bsConfig]="{
              rangeInputFormat: 'YYYY-MM-DD',
              dateInputFormat: 'DD MMM YYYY'
            }"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="row mx-auto justify-content-center">
              <button class="btn btn-outline-success" style="width: 80%;"
                      [disabled]="!newDataSourceForm.valid"
                      (click)="onDataSourceFormSubmit()">Save</button>
            </div>
            <div class="row mx-auto pt-2 justify-content-center">
              <button class="btn btn-outline-danger" (click)="modalRef.hide();" style="width: 80%;">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
