html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.family-tree-image {
  background-image: url('../../assets/oak.png');
  opacity: 0.2;
  height: 1000px;
  max-height: 100%;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s;
}

.image-text:hover {
  opacity:1;
}

mat-grid-tile {
  background: lightgray;
  padding: 10px;
}

mat-grid-tile-header {
  background: lightgoldenrodyellow;
}

mat-grid-tile-footer {
  background: lightgoldenrodyellow;
}
