<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" routerLinkActive="active" [style.color]="selectedColor">E&E </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" #navbarCollapse id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="!isAuthorised() && authenticating" class="nav-item">
          <a class="nav-link">Authorising</a>
        </li>
        <li *ngIf="!isAuthorised() && !authenticating" class="nav-item">
          <a class="nav-link" (click)="openModal(loginTemplate)">Login</a>
        </li>
        <li *ngIf="isAuthorised()" class="nav-item">
          <a class="nav-link" (click)="logOut()">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/content" routerLinkActive="active" (click)="closeNavbar()" [style.color]="getIconColor(contentPath)">Content</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active" (click)="closeNavbar()" [style.color]="getIconColor(recipesPath)">Recipes</a>
        </li>
        <li *ngIf="isAuthorised()" class="nav-item">
          <a class="nav-link" routerLink="/family" routerLinkActive="active" (click)="closeNavbar()" [style.color]="getIconColor(familyTreePath)">Family Tree</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/media" routerLinkActive="active" (click)="closeNavbar()" [style.color]="getIconColor(mediaPath)">Media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/papers" routerLinkActive="active" (click)="closeNavbar()" [style.color]="getIconColor(scholarPath)">Papers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mapping" routerLinkActive="active" (click)="closeNavbar()" [style.color]="getIconColor(mapPath)">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/weather" routerLinkActive="active" (click)="closeNavbar()" [style.color]="getIconColor(weatherPath)">Weather</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://rockpaperscience.co.uk">Rock Paper Science Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://huginnmuninnresearch.com">Huginn // Muninn</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<ng-template #loginTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Login</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="loginForm">
      <div class="form-horizontal">
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Username </label>
          </div>
          <div class="col">
            <input type="text" formControlName="username" id="fam-username" class="form-control" name="fam-username" required autocomplete="off">
            <div *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].invalid" class="alert alert-danger">
              A username is required
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Password </label>
          </div>
          <div class="col">
            <input type="password" formControlName="password" id="fam-password" class="form-control" name="fam-password" required autocomplete="off">
            <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid" class="alert alert-danger">
              A password is required
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="row mx-auto justify-content-center">
              <button class="btn btn-outline-success" style="width: 80%;"
                      [disabled]="!loginForm.valid"
                      (click)="onLoginFormSubmit()">Login</button>
            </div>
            <div class="row mx-auto pt-2 justify-content-center">
              <button class="btn btn-outline-danger" (click)="modalRef.hide();" style="width: 80%;">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
