<br>
<div class="container mx-auto text-center">
  <h1>Recipes</h1>
</div>
<br>

<div *ngIf="windowWidth > 1000" [@inOutAnimation]="windowWidth > 1000" class="d-flex justify-content-center">
  <div class="btn-group-horizontal">
    <a>
      <button class="btn btn-outline-dark" (click)="openModal(addRecipeTemplate)">Add Recipe</button>
    </a>
    <a class="btn" routerLink="/cooking-ingredients" routerLinkActive="active" title="Ingredients">
      <button class="btn btn-outline-dark">View Ingredients</button>
    </a>
    <a class="btn" routerLink="/cooking-equipment" routerLinkActive="active" title="Equipment">
      <button class="btn btn-outline-dark">View Equipment</button>
    </a>
  </div>
</div>

<div *ngIf="windowWidth <= 1000" [@inOutAnimation]="windowWidth <= 1000" class="d-flex justify-content-center">
  <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    <button class="btn btn-outline-dark" (click)="openModal(addRecipeTemplate)">Add Recipe</button>
    <a class="btn" routerLink="/cooking-ingredients" routerLinkActive="active" title="Ingredients">
      <button class="btn btn-outline-dark">View Ingredients</button>
    </a>
    <a class="btn" routerLink="/cooking-equipment" routerLinkActive="active" title="Equipment">
      <button class="btn btn-outline-dark">View Equipment</button>
    </a>
  </div>
</div>

<br>
<div class="col">
  <div class="row justify-content-center">
    <div class="input-group col-8" id="searchContainer">
      <input class="form-control search-bar" type="text"
             placeholder="Search for recipes" id="textSearch"
             name="dataSearch" [(ngModel)]="searchPhrase">
      <button type="button" class="btn btn-outline-dark" aria-label="Search" (click)="filterRecipes()">
        <i class="fas fa-search fa-lg"></i>
      </button>
    </div>
  </div>
</div>
<br>
<div>
  <br>
  <div class="container-fluid text-center table-outer">
    <div class="row row-chart row-header m-1 p-2">
      <div class="col"><b>Name</b></div>
      <div *ngIf="windowWidth > 1000" [@inOutAnimation]="windowWidth > 1000" class="col"><b>Description</b></div>
      <div class="col"><b>Cooking Time (mins)</b></div>
      <div class="col"><b>Source</b></div>
      <div class="col"><b>Tags</b></div>
      <div class="col"></div>
    </div>
    <div *ngIf="recipes && recipes.length < 1 && !loadedRecipes">
      <fam-app-loading-table></fam-app-loading-table>
    </div>
    <div *ngFor="let recipe of filteredRecipes">
      <fam-app-recipe-details [recipe]="recipe"></fam-app-recipe-details>
    </div>
  </div>
</div>

<ng-template #addRecipeTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Recipe</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newRecipeForm">
      <div class="form-horizontal">
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Name </label>
          </div>
          <div class="col">
            <input type="text" formControlName="name" id="recipe-name" class="form-control" name="recipe-name" required>
            <div *ngIf="newRecipeForm.controls['name'].touched && newRecipeForm.controls['name'].invalid" class="alert alert-danger">
              A name is required
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Description </label>
          </div>
          <div class="col">
            <textarea matInput
                      formControlName="description"
                      cdkTextareaAutosize
                      matAutosizeMinRows=3
                      matAutosizeMaxRows=10
            ></textarea>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Cooking time (mins) </label>
          </div>
          <div class="col">
            <input type="text" formControlName="duration_in_minutes" id="duration_in_minutes" class="form-control" name="duration_in_minutes" required>
            <div *ngIf="newRecipeForm.controls['duration_in_minutes'].touched && newRecipeForm.controls['duration_in_minutes'].invalid" class="alert alert-danger">
              A duration is required (even just a guess)
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Source </label>
          </div>
          <div class="col">
            <input type="text" formControlName="source" id="source" class="form-control" name="source">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Tags </label>
          </div>
          <div class="col">
            <mat-form-field class="recipe-chip-list" appearance="fill">
              <mat-label>Recipe Tags</mat-label>
              <mat-chip-list #recipeTagList aria-label="Recipe tag selection">
                <mat-chip *ngFor="let tag of recipeTags" (removed)="removeRecipeTag(tag)">
                  {{tag}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input placeholder="New tag..."
                       [matChipInputFor]="recipeTagList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="addRecipeTag($event)">
              </mat-chip-list>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="row mx-auto justify-content-center">
              <button class="btn btn-outline-success" style="width: 80%;"
                      [disabled]="!newRecipeForm.valid"
                      (click)="onRecipeFormSubmit()">Save</button>
            </div>
            <div class="row mx-auto pt-2 justify-content-center">
              <button class="btn btn-outline-danger" (click)="modalRef.hide();" style="width: 80%;">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
