<br>
<div class="container mx-auto text-center">
  <h1>Photos</h1>
</div>
<br>
<div class="mx-auto text-center">
  <button class="btn btn-outline-dark" (click)="openModal(addPhotoTemplate)">Add Photo</button>
</div>
<br>

<ng-template #addPhotoTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Photo</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newPhotoForm">
      <div class="form-horizontal">
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Name </label>
          </div>
          <div class="col">
            <input type="text" formControlName="name" id="equipment-name" class="form-control" name="equipment-name" required>
            <div *ngIf="newPhotoForm.controls['name'].touched && newPhotoForm.controls['name'].invalid" class="alert alert-danger">
              A name is required
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Description </label>
          </div>
          <div class="col">
            <textarea matInput
                      formControlName="description"
                      cdkTextareaAutosize
                      matAutosizeMinRows=3
                      matAutosizeMaxRows=10
            ></textarea>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Taken Date </label>
          </div>
          <div class="col">
            <input
              type="text"
              placeholder="Select date"
              class="form-control"
              bsDatepicker
              formControlName="taken_date"
              [bsConfig]="{
              rangeInputFormat: 'YYYY-MM-DD',
              dateInputFormat: 'DD MMM YYYY'
            }"
            />
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Photo </label>
          </div>
          <input
            type="file"
            class="file-upload"
            formControlName="image"
            onchange="console.log(event.target.files)">
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="row mx-auto justify-content-center">
              <button class="btn btn-outline-success" style="width: 80%;"
                      [disabled]="!newPhotoForm.valid"
                      (click)="onNewPhotoFormSubmit()">Save</button>
            </div>
            <div class="row mx-auto pt-2 justify-content-center">
              <button class="btn btn-outline-danger" (click)="modalRef.hide();" style="width: 80%;">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
