<div class="container mx-auto text-center px-10">
  <h1>Family Content</h1>
</div>

<div *ngIf="isAuthorised()" class="mx-auto text-center pb-10">
  <button class="btn btn-outline-dark" (click)="openModal(addContentTemplate, {})">
    <i class="fas fa-camera-retro"></i>
    Add Media
  </button>
</div>

<div class="row px-10 justify-content-center">
  <div class="col-8">
    <fam-app-datetime-slider
      [minDate]="startDate"
      [maxDate]="endDate"
      (valueEvent)="updateStartDate($event)"
      (highValueEvent)="updateEndDate($event)"
    ></fam-app-datetime-slider>
  </div>
</div>

<div class="row px-10 justify-content-center">
  <div class="input-group col-8" id="searchContainer">
    <input class="form-control search-bar" type="text"
           placeholder="Search for media" id="textSearch"
           name="dataSearch" [(ngModel)]="searchPhrase">
    <button type="button" class="btn btn-outline-dark" aria-label="Search" (click)="filterPhotos()">
      <i class="fas fa-search fa-lg"></i>
    </button>
  </div>
</div>

<div class="justify-content-center">
  <ngx-masonry [options]="masonryOptions" [ordered]="true" style="width: 100%; margin: 0;" (itemsLoaded)="photosLoaded()">
    <div ngxMasonryItem class="masonry-item" *ngFor="let content of filteredContents" style="width:{{getPhotoWidth()}};">
      <img *ngIf="content.file_format === undefined" [src]="content.blob_url" alt="{{content.name}}" width="100%" height="90%" (click)="populateContent(content); openModal(viewContentTemplate, {class: 'modal-lg'})">
      <img *ngIf="allowedPhotoMimeTypes.includes(content.file_format)" [src]="content.blob_url" alt="{{content.name}}" width="100%" height="90%" (click)="populateContent(content); openModal(viewContentTemplate, {class: 'modal-lg'})">
      <video *ngIf="allowedVideoMimeTypes.includes(content.file_format)" [src]="content.blob_url" width="100%" height="90%" (click)="populateContent(content); openModal(viewContentTemplate, {class: 'modal-lg'})">
        This browser does not support native videos
      </video>
    </div>
  </ngx-masonry>
</div>

<ng-template class="modal-lg" #viewContentTemplate>
  <fam-app-content-details [content]="content"></fam-app-content-details>
</ng-template>

<ng-template #addContentTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Content</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newContentForm">
      <div class="form-horizontal">
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Name </label>
          </div>
          <div class="col">
            <input type="text" formControlName="name" id="equipment-name" class="form-control" name="equipment-name" required>
            <div *ngIf="newContentForm.controls['name'].touched && newContentForm.controls['name'].invalid" class="alert alert-danger">
              A name is required
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Description </label>
          </div>
          <div class="col">
            <textarea matInput
                      formControlName="description"
            ></textarea>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Taken By </label>
          </div>
        <div class="col">
          <input type="text" formControlName="taken_by" id="taken-by" class="form-control" name="taken-by">
        </div>
      </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Taken Date </label>
          </div>
          <div class="col">
            <input
              type="text"
              placeholder="Select date"
              class="form-control"
              bsDatepicker
              formControlName="taken_date"
              [bsConfig]="{
              rangeInputFormat: 'YYYY-MM-DD',
              dateInputFormat: 'DD MMM YYYY'
            }"
            />
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">Camera Details </label>
          </div>
          <div class="col">
            <input type="text" formControlName="camera_details" id="camera-details" class="form-control" name="camera-details">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col form-group">
            <label class="control-label">File </label>
          </div>
          <div class="col">
            <input
              #fileUpload
              type="file"
              accept="image/*,video/*"
              class="file-upload"
              style="display: none;"
              (change)="onContentSelected($event)">

              <button class="btn btn-outline-dark"
                      (click)="fileUpload.click()">
                <i class="fas fa-upload"> Browse</i>
              </button>
              <div class="file-upload">
                <input type="text" formControlName="file" id="file" class="form-control" name="file" required>
                <div *ngIf="newContentForm.controls['file'].touched && newContentForm.controls['file'].invalid" class="alert alert-danger">
                  An image or video file is required
                </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="row mx-auto justify-content-center">
              <button class="btn btn-outline-success" style="width: 80%;"
                      [disabled]="!newContentForm.valid"
                      (click)="onNewContentFormSubmit()">Save</button>
            </div>
            <div class="row mx-auto pt-2 justify-content-center">
              <button class="btn btn-outline-danger" (click)="modalRef.hide();" style="width: 80%;">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
