<div class="row row-chart m-1 p-2 align-items-center">
  <div class="col">{{recipe? recipe.name: ''}}</div>
  <div class="col">{{recipe? recipe.description: ''}}</div>
  <div class="col">{{recipe? recipe.duration_in_minutes: ''}}</div>
  <div class="col">{{recipe? recipe.source: ''}}</div>
  <div class="col">{{recipe? recipe.tags: ''}}</div>
  <div class="col">
    <a class="btn btn-outline-dark" routerLink="/recipe-detail/{{recipe? recipe.id: ''}}" routerLinkActive="active" title="View">
      <i class="fas fa-eye"></i>
    </a>
  </div>
</div>
