.data-slider .ngx-slider .ngx-slider-bar {
  background: black;
  height: 6px;
  border-radius: 3px;
}

.data-slider .ngx-slider .ngx-slider-selection {
  background: #55f;
  height: 6px;
  border-radius: 3px;
}

.data-slider .ngx-slider .ngx-slider-pointer {
  width: 18px;
  height: 18px;
  top: -6px;
  bottom: auto;
  background-color: #55f;
  border: 2px solid black;
  border-radius: 50%;
}

.data-slider .ngx-slider .ngx-slider-pointer:focus {
  outline: none;
  box-shadow: 0 0 3px 1px rgba(85, 85, 255, 0.5);
}

.data-slider .ngx-slider .ngx-slider-pointer:after {
  display: none;
}

.data-slider .ngx-slider .ngx-slider-bubble {
  bottom: 14px;
}

.data-slider .ngx-slider .ngx-slider-limit {
  font-weight: bold;
  color: #55f;
}

.data-slider .ngx-slider .ngx-slider-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: black;
  top: -1px;
}

.data-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
  background: #55f;
}
