.data-slider .ngx-slider .ngx-slider-bar {
  background: #ffe4d1;
  height: 2px;
}
.data-slider .ngx-slider .ngx-slider-selection {
  background: #ff0055;
}

.data-slider .ngx-slider .ngx-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.data-slider .ngx-slider .ngx-slider-pointer:after {
  display: none;
}

.data-slider .ngx-slider .ngx-slider-bubble {
  bottom: 14px;
}

.data-slider .ngx-slider .ngx-slider-limit {
  font-weight: bold;
  color: #ff0055;
}

.data-slider .ngx-slider .ngx-slider-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}

.data-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
  background: #ff0055;
}

.custom-slider .ngx-slider {
  height: 6px;
  border-radius: 3px;
  background-color: black;
}

.custom-slider .ngx-slider-selection {
  height: 6px;
  border-radius: 3px;
  background-color: #55f !important;
}

.custom-slider .ngx-slider-pointer {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #55f !important;
  border: 2px solid black;
  top: -6px;
}

.custom-slider .ngx-slider-pointer:focus {
  outline: none;
  box-shadow: 0 0 3px 1px rgba(85, 85, 255, 0.5);
}
